.form.auth-way
  %h1
    = t :register
    %span
      = t :or
      = link_to t(:sign_in), new_session_path(resource_name, :after => params[:after])
  .oauth
    = render 'devise/shared/oauth_links'
  .direct
    = form_tag("/users", :method => :post) do
      - if controller.controller_name == 'registrations'
        = devise_error_messages!
      %p
        = label_tag 'user_email', t(:email)
        %br
        = text_field_tag 'user[email]', nil, :id => :user_email

      %p
        = label_tag 'user_password', t(:password)
        %br
        = password_field_tag 'user[password]', nil, :id => :user_password

      %p
        = label_tag :user_password_confirmation, t(:password_confirmation)
        %br
        = password_field_tag 'user[password_confirmation]', nil,  :id => :user_password_confirmation

      %p
        = submit_tag t(:sign_up), :id => :user_submit
