.page
  %h1= t :'my.overview'

  .menu
    = render 'my/shared/menu'
  .content
    %h2
      .nick= current_user.nick
    %ul.statistics
      - if current_user.rating_place
        %li
          %span
            = t(:'my.statistics.your_rating', rating_place: current_user.rating_place).html_safe
      %li
        %span
          = t :'my.statistics.comments_count', comments_count: current_user.comments.count
