- if @image.new_record?
  %h1 New image
- else
  %h1 Editing image

= form_for [:admin, @image], :html => {:multipart => true} do |f|
  -if @image.errors.any?
    #error_explanation
      %h2
        = pluralize @image.errors.count, "error"
        prohibited this image from being saved:
      %ul
        - @image.errors.full_messages.each do |msg|
          %li
            = msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :image
    = f.file_field :image
  .field
    = label_tag :shown_date
    = select_date(@image.shown_date.nil? ? Date.today : @image.shown_date.to_date, {:prefix => 'shown_date'}, {})

  .actions
    = f.submit

= link_to 'Show', [:admin, @image]
|
= link_to 'Back', admin_images_path