%h1
  Listing images

= link_to 'New image', new_image_path

.images
- @images.each do |image|
  .image
    %h2
      = image.title
    %p
      = image.description
    = image_tag image.image.thumb.url
    .menu
      = link_to 'Show', image
      = link_to 'Edit', edit_image_path(image)
      = link_to 'Destroy', image, :confirm => 'Are u sure?', :method => :delete