%p#notice
  = notice

%p
  %b
    Title:
  = @image.title

%p
  %b
    Desctiption:
  = @image.title

= image_tag @image.image.url

.comments
  - @image.comments.each do |comment|
    .comment
      .author
        = comment.user_author.email
      .body
        = comment.body
      .links
        = link_to t(:edit), edit_admin_image_comment_path(@image, comment)
        = link_to t(:destroy_comment), [:admin, @image, comment], :confirm => 'Are u sure?', :method => :delete