:plain
  <!--
   _____          _ _     __
  |___  |_      _(_) |_   \ \
     / /\ \ /\ / / | __| (_) |
    / /  \ V  V /| | |_   _| |
   /_/    \_/\_/ |_|\__| (_) |
                          /_/
  -->
!!!Strict
%html{:lang => I18n.locale}
  %head
    = stylesheet_link_tag 'devise', 'sprites/logos', :media => 'screen, projection', :cache => 'reg_all'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'application'
    %link(rel="shortcut icon" href="/favicon.png")
    %title
      = yield :title
  = csrf_meta_tag
  %body
    .notice
      = flash[:notice]
    .error
      = flash[:error]
    .logo
      %h1
        %a(href="/") 7wit
    = yield
    = render 'shared/metrics' if Rails.env.production?
